		html{background: white;}
		body{font-size: 14px; color:#333;}
		html,body{margin:0;padding:0;}
		body{position:relative; min-height:100%; min-width: 320px;max-width: 760px;margin:0 auto; }
		ul,ol{list-style:none;}
		img{vertical-align:middle; max-width:100%; border:0;}
		table,tr,td{border:1px solid;border-collapse:collapse;}
		a{text-decoration:none;color:black;}


		.header{
			margin:0;
			padding:0;
			font-size:36px;
			text-align:center;
			color:blue;
		}
		.header img{
			height:100%;
		}
		#search{
			float:left;
			margin:5px 2%;
			width:95%;
			border:1px solid #ccc;
			border-radius:20px;
		}
		#search input[type="image"]{
			width:30px;
			float:right;
			border:0;
			margin-right:15px;
		}
		#search .search-form{
			float:left;
			margin:0 10px;
			width:75%;
		}
		#search input[type="text"]{
			margin-left:5px;
			outline:none;
			height:30px;
			width:100%;
			border:0px;
		}

		.footer-div{
			position:fixed;
			bottom:0;
			margin:0;
			height:60px;
			background-color:white;
			padding:10px 0px 0px 0px;
		}
		.footer-div div{
			float:left;
			width:25%;
			text-align:center;

		}
		.footerimg {
			width:25%;
		}
		.footer-div p{
			text-align:center;
			font-size:12px;
		}
		.footer-div a{
			color:black;
		}