		html{background: #f7f7f7;}
		body{font-size: 14px; color:#333;}		
		body{position:relative; min-height:100%; min-width: 320px;max-width: 760px;margin:0 auto; background-color:#e7e7e7;}
		ul,ol{list-style:none;}
		img{vertical-align:middle; max-width:100%; border:0;}
		table,tr,td{border:1px solid;border-collapse:collapse;}
		a{text-decoration:none;color:black;}
		

		.header{
			height:60px;
			background:#e7e7e7;
			text-align:center;
			color:orangered;
			line-height:60px;
			font-size:1.6rem;
		}
		.container{
			width:100%;
		}
		.box{
			width:96%;
			border:1px solid orangered;
			border-radius:5px;
			margin:5px auto;			
			padding:10px 0;
			overflow:hidden;
		}


		
		.school{
			float:left;
			text-align:center;
			width:16.5%;
		}
		.four-box{
			width:20.8%;
			border:1px solid orangered;
			border-radius:5px;
			margin:5px 1.8%;
			float:left;
			text-align:center;			
		}
		.four-box p{
			margin:5px auto;
			color:black;
		}
		.three-box{
			width:28%;
			text-align:center;
			border:2px solid orangered;
			border-radius:5px;
			float:left;			
			margin:5px 2% 5px 2.2%;
		}
		.three-box img{
			width:100%;
			height:150px;
		}


		.footer-div{
			height:48px;
			background:#f0f0f0;
		}
		.footer-div div{
			float:left;
			width:24%;
			text-align:center;

		}
		.footerimg , #abc{
			width:30%;
		}
		.footer-div p{
			text-align:center;
		}