		html{background: #f7f7f7;}
		body{font-size: 14px; color:#333;}		
		body{position:relative; min-height:100%; min-width: 320px;max-width: 760px;margin:0 auto; background-color:#e7e7e7;}
		ul,ol{list-style:none;}
		img{vertical-align:middle; max-width:100%; border:0;}
		table,tr,td{border:1px solid;border-collapse:collapse;}
		a{text-decoration:none;color:black;}
		

		.header{
			height:60px;
			background:#e7e7e7;
			text-align:center;
			color:orangered;
			line-height:60px;
			font-size:1.6rem;
		}
		.container{
			width:100%;
		}
		.box{
			width:96%;
			border:1px solid orangered;
			border-radius:5px;
			margin:5px auto;			
			padding:10px 0;
			overflow:hidden;
		}


		
		.school{
			float:left;
			text-align:center;
			width:16.5%;
		}
		.four-box{
			width:20.8%;
			border:1px solid orangered;
			border-radius:5px;
			margin:5px 1.8%;
			float:left;
			text-align:center;			
		}
		.four-box p{
			margin:5px auto;
			color:black;
		}
		.three-box{
			width:28%;
			text-align:center;
			border:2px solid orangered;
			border-radius:5px;
			float:left;			
			margin:5px 2% 5px 2.2%;
		}
		.three-box img{
			width:100%;
			height:150px;
		}
/*************  form   *************/
		.l10 input{width:10px;}
		.l12 input{width:20px;}
		.l30 input{width:30px;}
		.l40 input{width:40px;}
		.l50 input{width:50px;}
		.l80 input{width:80px;}
		.l100 input{width:100px;}
		.l120 input{width:120px;}
		.l150 input{width:150px;}
		.l180 input{width:180px;}
		.l240 input{width:240px;}
		.l300 input{width:300px;}
		.l360 input{width:360px;}

		.form-group{
			float:left;
			clear:both;
			height:65px;
		}
		.form-group label{
			float:left;
			width:150px;
			text-align:right;
			font-size:14px;
			margin-right:20px;
			line-height:35px;
		}
		.form-group .help-block{
			margin-left:110px;
			font-size:12px;
			color:red;
		}
		.button-group{
			padding-left:150px;
		}

		select,input{
			border:1px solid #D3D2D1;
			height:35px;
			padding-left:5px;
		}

		.in-line{
			float:left;
		}
		.in-line label{
			font-size:14px;
			margin-left:15px;
			line-height:35px;
		}
		.in-line .help-block{
			margin-left:10px;
			font-size:12px;
			color:red;
		}
		input[type="file"]{
			border:none;
		}

.footer{
	height:148px;
	background:#f0f0f0;
}
.footer p{
	width:24%;
	float:left;
	line-height:48px;
	text-align:center;
}