*{
	margin:0;padding:0;
}
header,section,footer{
	float:left;
	width:100%;
	margin:auto;
}
header{
	height:100px;
	background-color:#06266f;
}
a{
	text-decoration:none;
}
a{
	color:#4671d5;
}
a:hover{
	color:red;
}
.breadcrumb{
	width:100%;
	float:left;
	list-style-type:none;
	margin-bottom:10px;
	border-bottom:1px solid blue;
}
.breadcrumb li{
	float:left;
	margin:5px;
	color:#666;
}
.breadcrumb li:after{
	content:" >";
}
li.active:after{
	content:"";
}
footer{
	text-align:center;
	color:white;
	line-height:48px;
	background-color:#06266f;
}

/*************  menu   *************/
.menu-title{
	margin:0px;
	line-height:42px;
	font-size:18px;
	text-align:center;
	background-color:#4671d5;
	color:white;
}
.menu-item{
	margin:0px;
	padding-left:50px;
	line-height:36px;
	//background-color:#eeeeee;
	color:#06266f;
}
.menu-item:hover{
	background-color:#051676;
	color:white;
}
#right{
	overflow:hidden;
}


/*************  table   *************/
table, tr, td{
	border:1px solid blue;
	border-collapse:collapse;
}
.normal-table td{
	padding:5px 8px;
}

/*************  content   *************/
.content{
	float:left;
	width:100%;
}
.content-block{
	width:100%;
	float:left;
	clear:both;
}
.content-title{
	width:100%;
	background:#ccc;
}

/*************  form   *************/
.l10 input{width:10px;}
.l12 input{width:20px;}
.l30 input{width:30px;}
.l40 input{width:40px;}
.l50 input{width:50px;}
.l80 input{width:80px;}
.l100 input{width:100px;}
.l120 input{width:120px;}
.l150 input{width:150px;}
.l180 input{width:180px;}
.l240 input{width:240px;}
.l300 input{width:300px;}
.l360 input{width:360px;}

.form-group{
	float:left;
	clear:both;
	height:65px;
}
.form-group label{
	float:left;
	width:150px;
	text-align:right;
	font-size:14px;
	margin-right:20px;
	line-height:35px;
}
.form-group .help-block{
	margin-left:110px;
	font-size:12px;
	color:red;
}
.button-group{
	padding-left:150px;
}

select,input{
	border:1px solid #D3D2D1;
	height:35px;
	padding-left:5px;
}

.in-line{
	float:left;
}
.in-line label{
	font-size:14px;
	margin-left:15px;
	line-height:35px;
}
.in-line .help-block{
	margin-left:10px;
	font-size:12px;
	color:red;	
}
input[type="file"]{
	border:none;
}

/***************** login ******************/

#title{
	float:left;
	color:white;
	font-size:48px;
	line-height:100px;
	margin-left:32px;
}
.login{
	padding:10px;
	color:white;
	float:right;
}
.login  p{
	float:left;
	margin:5px;
	line-height:15px;
}
button{
	padding:3px 15px;
}
#left{
	float:left;
	width:13%;
	height:auto;

}
#left a{
	text-decoration:none;
}


